body
{
	font: 700 14px sans-serif;
}

.provider
{
	margin: 6px;
	padding: 8px 10px;
	background: #F4F6F7;
	border-radius: 3px;
	cursor: pointer;
	width: 150px;
}
.provider:hover
{
	background: #3598DB;
	color: #FFFFFF;
}
		