.idea
.gitattributes
*.sublime-project
lint.*
.jshint*
.npmignore
*.tgz
test-reports.xml
for-developers.md
prepublish.js
Gruntfile.js
*.cmd
tscommand.tmp.txt
.tscache/

bin/appbuilder
bin/*.cmd

config/config-*

lib/**/*.ts
lib/**/*.js.map

scratch/
test/
**/docs/html
**/obj
**/bin/Microsoft.NodejsTools.WebRole.dll
**/.vs
**/.ntvs_analysis.dat
npm-debug.log
node_modules
resources/App_Resources
resources/Cordova
resources/ItemTemplates
resources/ProjectTemplates
resources/json-schemas