.idea
.gitattributes
*.sublime-project
lint.*
.jshint*
.npmignore
*.tgz
test-reports.xml
for-developers.md
prepublish.js
Gruntfile.js
BuildPackage.cmd
tscommand.tmp.txt

bin/appbuilder
bin/*.cmd

config/config-*

lib/**/*.ts
lib/**/*.js.map

scratch/
test/

resources/App_Resources
resources/Cordova
resources/ItemTemplates
resources/ProjectTemplates
